<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="admin/navbar :: navbar-content"></div>
<div th:replace="admin/sidebar :: sidebar-content"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lí tài khoản</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div style="width:100%; text-align:right;margin-bottom:5px;">
                    <a th:href="@{/admin/TaiKhoan-add}" class="btn btn-primary">Thêm mới</a>
                </div>
                <div class="tile">
                    <div class="tile-body">
                        <table id="sampleTable" class="table table-bordered table-striped"
                               style="width: 100%; border-collapse: collapse;">
                            <thead>
                            <tr>
                                <th>Tài khoản</th>
                                <th>Mật khẩu</th>
                                <th>Họ tên</th>
                                <th>Quyền truy cập</th>
                                <th style="width:150px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c : ${lstTaiKhoan}">

                                <td>[[${c.taiKhoan}]]</td>
                                <td>[[${c.matKhau}]]</td>
                                <td>[[${c.hoTen}]]</td>
                                <td>[[${c.quyenTruyCap}]]</td>
                                <td>
                                    <a class="btn btn-xs btn-info"
                                       th:href="@{'/admin/TaiKhoan-sua/' + ${c.taiKhoan}}">Sửa</a>
                                    &nbsp;
                                    <a onclick="return confirm('Bạn có chắc chắn muốn xóa thông tin này ?');"
                                       class="btn btn-xs btn-danger"
                                       th:href="@{'/admin/TaiKhoan-xoa/' + ${c.taiKhoan}}">Xóa</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>