<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới, sửa tài khoản</title>
</head>
<body>
<div th:replace="admin/navbar :: navbar-content"></div>
<div th:replace="admin/sidebar :: sidebar-content"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm mới, sửa tài khoản</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="tile">
            <div class="tile-body">
                <form action="#" method="post" th:action="@{/admin/TaiKhoan-add}" th:object="${TaiKhoan}">
                    <fieldset>
                        <legend class="col-sm-6">Nhập thông tin tài khoản</legend>
                        <div class="container-fluid">
                            <div class="row">
                                <label class="col-md-2">
                                    Tài khoản:
                                </label>
                                <div class="col-md-4 mb-3">
                                    <input type="text" th:readonly="${isReadOnly}" class="form-control" th:field="*{taiKhoan}"/>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Mật khẩu:
                                </label>
                                <div class="col-md-4 mb-3">
                                    <input type="text" class="form-control" th:field="*{matKhau}"/>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Họ tên:
                                </label>
                                <div class="col-md-4 mb-3">
                                    <input type="text" class="form-control" th:field="*{hoTen}"/>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Quyền truy cập:
                                </label>
                                <div class="col-md-4 mb-3">
                                    <select class="form-control" id="quyenTruyCap" name="quyenTruyCap" th:field="*{quyenTruyCap}">
                                        <option value="">--Chọn quyền truy cập--</option>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 mb-3">
                                    <input type="submit" class="btn btn-primary" name="btnCapNhat" value="Cập nhật"/>
                                    &nbsp;
                                    <a th:href="@{/admin/TaiKhoan}" class="btn btn-primary">Trở về</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <span class="text-warning">[[${message}]]</span><br>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>