<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lí tin tức</title>
</head>
<body>
<div th:replace="admin/navbar :: navbar-content"></div>
<div th:replace="admin/sidebar :: sidebar-content"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lí tin tức</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <fieldset class="container">
        
        <form th:action="@{/admin/tim-TinTuc}" method="POST">
            <div class="row">
                <label class="col-md-2">Từ khóa:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="tuKhoa" name="tuKhoa" th:value="${tuKhoa}">
                </div>


                <label class="col-md-2">
                    Chủ đề:
                </label>
                <div class="col-md-4">
                    <select class="form-control" id="maCD" name="maCD" th:value="${maCD}">
                        <option th:value="${null}">--Chọn mã chủ đề--</option>
                        <option th:each="c : ${lstChuDe}" th:value="${c.maChuDe}">
                            [[${c.tenChuDe}]]
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input class="btn btn-primary"type="submit" name="btnTimKiem" value="Tìm kiếm"/>
                </div>
            </div>
        </form>
    </fieldset>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div style="width:100%; text-align:right;margin-bottom:5px;">
                    <a th:href="@{/admin/TinTuc-add}" class="btn btn-primary">Thêm mới</a>
                </div>
                <div class="tile">
                    <div class="tile-body">
                        <table id="sampleTable" class="table table-bordered table-striped"
                               style="width: 100%; border-collapse: collapse;">
                            <thead>
                            <tr>
                                <th>Mã tin tức</th>
                                <th>Tiêu đề</th>
                                <th>Nội dung</th>
                                <th>Ngày đăng</th>
                                <th>Tác giả</th>
                                <th>Ảnh đại diện</th>
                                <th>Mã chủ đề</th>
                                <th>Số bình luận</th>

                                <th style="width:150px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c : ${lstTinTuc}">

                                <td>[[${c.maTinTuc}]]</td>
                                <td>[[${c.tieuDe}]]</td>
                                <td><a class="btn btn-xs btn-info"
                                       th:href="@{'/admin/TinTuc-chitiet/' + ${c.maTinTuc}}">Xem chi tiết nội dung</a></td>
                                <td>[[${c.ngayDang}]]</td>
                                <td>[[${c.tacGia}]]</td>
                                <td><img th:src="@{'/img/'+${c.anhDaiDien}}"  width=80 height="80"/></td>
                                <td>[[${c.maChuDe}]]</td>
                                <td>[[${c.soBinhLuan}]]</td>

                                <td>
                                    <a class="btn btn-xs btn-info"
                                       th:href="@{'/admin/TinTuc-chitiet/' + ${c.maTinTuc}}">Thông tin chi tiết</a>
                                    <a class="btn btn-xs btn-info"
                                       th:href="@{'/admin/TinTuc-sua/' + ${c.maTinTuc}}">Sửa</a>
                                    &nbsp;
                                    <a onclick="return confirm('Bạn có chắc chắn muốn xóa thông tin này ?');"
                                       class="btn btn-xs btn-danger"
                                       th:href="@{'/admin/TinTuc-xoa/' + ${c.maTinTuc}}">Xóa</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function limitText(element, maxLength) {
        if (element.textContent.length > maxLength) {
            element.textContent = element.textContent.slice(0, maxLength);
        }
    }
</script>
</body>
</html>