<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tin tức</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ticker-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/slicknav.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/themify-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script type="text/javascript" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script type="text/javascript" th:src="@{/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/slick.min.js}"></script>
    <!-- Date Picker -->
    <script type="text/javascript" th:src="@{/js/gijgo.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script type="text/javascript" th:src="@{/js/wow.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/animated.headline.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.js}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.sticky.js}"></script>

    <!-- contact js -->
    <script type="text/javascript" th:src="@{/js/contact.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/mail-script.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="home/Header :: header-content"></div>
<main>
    <!-- About US Start -->
    <div class="about-area2 gray-bg pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Tittle -->
                    <div class="about-right mb-90">
                        <div class="about-img">
                            <img th:src="@{'/img/'+${TinTuc.anhDaiDien}}" alt="">
                        </div>
                        <div class="heading-news mb-30 pt-30">
                            <h3 th:text="${TinTuc.tieuDe}"></h3>
                        </div>
                        <div class="about-prea">
                            <p class="about-pera1 mb-25"th:utext="${TinTuc.noiDung}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Flow Socail -->
                    <!-- New Poster -->
                    <div class="news-poster d-none d-lg-block">
                        <img th:src="@{/img/news/news_card.jpg}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About US End -->
</main>
<div th:replace="home/Footer :: footer-content"></div>
</body>
</html>